:root {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.6rem;
  border-radius: 0.2rem;
  --highlight: #a56de2;
  --private-mode-purple: rgba(255, 0, 255, 0.4);
}

h1 {
  color: black;
  text-align: center;
  margin: 1.2rem 0 10.5rem 0;
  line-height: 2rem;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 2.5px solid;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
    animation: rgb-border 5s infinite linear;
}


#input-field {
  width: 100%;
  border: none;
  font: inherit;
  padding: 0.4rem 2rem;
  margin-right: 0.4rem;
  border-color: black;
  border-radius: 0.2rem;
}

#input-field:focus {
  cursor: text;
}

button:disabled:not(#expand:disabled) {
  opacity: 0.5;
  cursor: not-allowed;
}

legend,
#notification,
#overlay-notification {
  text-align: center;
}

#input-field.wrong {
  background: rgba(198, 38, 46, 0.3);
}

.wrong {
  color: #c6262e;
}

.correct {
  color: #68b723;
}

.normal {
  color: black;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden,
#expand:disabled {
  display: none;
}

/* TODO: find way to change progress bar color */
#loader {
  margin: 0.25em;
  z-index: 9999;
  width: 10rem;
  height: 0.5rem;
}

#main-area {
  margin-top: 1rem;
  padding: 1.4rem 1rem;
  border-radius: 0.4rem;
  background: #eaeaea;
}

.fade {
  animation: fade 2s ease-in infinite;
}

#loader-fade-text {
  animation: fade 2s ease-in infinite, rgb 5s linear infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rgb {
  0% {
    color: #f44336;
  }

  25% {
    color: #ffc107;
  }

  50% {
    color: #4caf50;
  }

  75% {
    color: #3f51b5;
  }

  100% {
    color: #f44336;
  }
}

@keyframes rgb-bg {
  0% {
    background-color: #f44336;
  }

  25% {
    background-color: #ffc107;
  }

  50% {
    background-color: #4caf50;
  }

  75% {
    background-color: #3f51b5;
  }

  100% {
    background-color: #f44336;
  }
}

@keyframes rgb-border {
  0% {
    border-color: #f44336;
  }

  25% {
    border-color: #ffc107;
  }

  50% {
    border-color: #4caf50;
  }

  75% {
    border-color: #3f51b5;
  }

  100% {
    border-color: #f44336;
  }
}

.bar {
  display: flex;
  justify-content: space-between;
}

fieldset {
  border-style: solid;
  border-radius: 0.2rem;
}

button {
  border: none;
  font: inherit;
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  cursor: pointer;
  background: #d4d4d4;
  color: black;
}

.valid {
  border-width: 2px;
  border-style: solid;
  animation: rgb-border 5s linear infinite;
}

.overlay-buttons {
  color: white;
  transition-duration: 0.5s;
  padding: 0 0.25em 0.25em 0.25em;
  float: right;
}

.overlay-buttons:hover,
#close:hover {
  color: black !important;
  /* border-radius: 25%; */
}

#videoPlayer {
  width: 65vw;
  height: calc((9/16) * 65vw);
  border-style: hidden;
  border-radius: 0.2em;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: auto;
  cursor: default;
}

#overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: auto;
}

.child {
  /* Center vertically */
  position: absolute;
  top: 50%;
}

#expand-box {
  background-color: #d4d4d4;
  border: 1px solid #1a1a1a;
  border-radius: 0.2rem;
  margin: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

#expand-hint-text {
  color: black;
  background-color: inherit;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.4rem 1rem;
}

#thumbnail {
  width: 320px;
  height: 180px;
}

/* The Modal (background) */
.modal {
  /* Hidden by default */
  display: none;
  /* Stay in place */
  position: fixed;
  /* Sit on top */
  z-index: 1;
  left: 0;
  top: 0;
  /* Full width */
  width: 100%;
  /* Full height */
  height: 100%;
  /* Enable scroll if needed */
  overflow: auto;
  /* Fallback color */
  background-color: rgb(0, 0, 0);
  /* Black w/ opacity */
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  /* 15% from the top and centered */
  margin: 15% auto;
  padding: 10px;
  border: 1px solid #888;
  border-radius: 0.2em;
  /* Could be more or less, depending on screen size */
  width: 55%;
}

#close {
  color: grey;
}

.no-select,
.overlay-buttons {
  user-select: none;
  /* iOS Safari */
  -webkit-touch-callout: none;
  /* Safari */
  -webkit-user-select: none;
  /* Konqueror HTML */
  -khtml-user-select: none;
  /* Old versions of Firefox */
  -moz-user-select: none;
  /* Internet Explorer/Edge */
  -ms-user-select: none;
}

.transparent-button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

#shortcuts {
  background-color: #fefefe;
  /* 15% from the top and centered */
  margin: 5% auto;
  padding: 10px;
  border: 1px solid #888;
  border-radius: 0.2em;
  /* Could be more or less, depending on screen size */
  width: 55%;
  border-width: 3px;
  animation: rgb-border 5s infinite linear;
}


/* change button border to magenta */
.private-mode-button {
  animation: none !important;
  border: 3px solid transparent !important;
  background-color: var(--private-mode-purple) !important;
}

.private-mode-overlay {
  background-color: var(--private-mode-purple) !important;
}

#context-menu {
  width: 14rem;
  height: 4rem;
  position: absolute;
  display: none;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 0.4rem;
  z-index: 1;
  user-select: none;
}

ul {
  list-style: none;
  padding: 0;
}

.menu-item {
  background-color: #fefefe;
  color: black;
  padding: 0.4rem;
  cursor: default;
}

.menu-item:hover {
  background-color: var(--highlight);
  color: white;
}

#overlay-notification {
  color: white;
  font-size: 1rem;
}
