/*TODO: add more styling to website*/

span {
  transition-duration: 0.5s;
  padding: 0.25rem;
}

span :hover {
  background-color: #ededed;
  border-radius: 25%;
}

.material-icons-round {
  font-size: 2rem;
}


#videoPlayer {
  margin-bottom: 5px;
  border-radius: 5.5px;
}

