/*no css yet 
TODO: add more styling to website*/

span {
    transition-duration: 0.5s;
    padding: 0.25rem;
}

span :hover {
    color: white;
    background-color: #555555;
    border-radius: 0.5rem;
}

.material-icons-outlined {
    font-size: 2rem;
    
}